{% extends "base.html" %}
{% block body %}<div class="container">
    <h1>Welcome to the KYC !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  {% if user.is_authenticated %}
  	<a href="{% url 'details:form' %}"><h3>Add New Customer Details</h3></a>
	<br><a href = "{% url 'details:updatehtmlform' %}"><h3>Update Customer Details</h3></a> <br>
  <a href = "{% url 'details:forgot' %}"><h3>Forgot Digital-Id?</h3></a> <br>
  <a href = "{% url 'details:fetchform' %}"><h3>Fetch Full KYC</h3></a> <br>
  {% endif %}		
</div>{% endblock %}
